<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appham.logkitten">

    <application>

        <activity
            android:name=".LogDetailActivity"
            android:excludeFromRecents="true"
            android:icon="@mipmap/logkitten_ic_launcher"
            android:label="@string/logkitten_log_details"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/logkitten_ic_launcher_round"
            android:taskAffinity="com.appham.logkitten"
            android:theme="@style/LogKittenTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LaunchServiceActivity"
            android:excludeFromRecents="true"
            android:icon="@mipmap/logkitten_ic_launcher"
            android:label="@string/logkitten_lib_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/logkitten_ic_launcher_round"
            android:taskAffinity="com.appham.logkitten.service"
            android:theme="@style/LogKittenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".LogKittenService" />

    </application>

</manifest>